/* @import url(https://fonts.google.com/?query=proxima+nova); */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
  width: 100vw;
  /* background-color: #0d0d0d; */
  /* background-blend-mode: luminosity; */
  background-repeat: no-repeat;
  background-size: 100%;
}

.App .Content {
  padding-top: 100px;
  text-align: center;
}

